

/* ==========================================================================
   Nico photo css custom.
   ========================================================================== */

body.container {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*Barre de navigation transparente.*/
.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0.57);
}

/*Mise en transparence de l'élément actif.*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: white;
background-color: rgba(12, 55, 83, 0.32);
}


.banner {
height: 700px;
width: 100%;
color: #fff;
text-align: center;
background: #242628 url(https://ghost.org//assets/home_bg-0e5737375b802c4aff3172acef8ee6b9.jpg) center center;
background-size: cover;
position: relative;
margin-top: -60px;
}


.navbar-default .navbar-nav>li>a {
color: white;
}







